@using MvcSiteMapProvider.Web.Html
@using Interpidians.Catalyst.Client.Web.Common
<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<head>
    <title>@ViewBag.Title</title>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Favicon -->
    <link rel="shortcut icon" href="favicon.ico">

    <!-- Web Fonts -->
    <link rel='stylesheet' type='text/css' href='//fonts.googleapis.com/css?family=Open+Sans:400,300,600&amp;subset=cyrillic,latin'>

    <!-- CSS Global Compulsory -->
    <link rel="stylesheet" href="~/Content/plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/css/app.css">
    <link rel="stylesheet" href="~/Content/css/blocks.css">

    <link rel="stylesheet" href="~/Content/css/sky-forms.css">
    <link rel="stylesheet" href="~/Content/css/shop.style.css">
    <link rel="stylesheet" href="~/Content/css/catalyst.css">

    <!-- CSS Header and Footer -->
    <link rel="stylesheet" href="~/Content/css/headers/header-v5.css">
    <link rel="stylesheet" href="~/Content/css/footers/footer-v4.css">

    <!-- CSS Implementing Plugins -->
    <link rel="stylesheet" href="~/Content/plugins/animate.css">
    <link rel="stylesheet" href="~/Content/plugins/line-icons/line-icons.css">
    <link rel="stylesheet" href="~/Content/plugins/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/Content/plugins/scrollbar/css/jquery.mCustomScrollbar.css">

    <!-- CSS Page Style -->
    <link rel="stylesheet" href="~/Content/css/pages/log-reg-v3.css">

    <!-- Style Switcher -->
    <!--link rel="stylesheet" href="~/Content/css/plugins/style-switcher.css">

    <!-- CSS Theme -->
    <link rel="stylesheet" href="~/Content/css/theme-colors/green.css" id="style_color">

    <!-- CSS Customization -->
    <link rel="stylesheet" href="~/Content/css/pages/profile.css">
    <link rel="stylesheet" href="~/Content/css/catalyst.css">

    <!-- Global Js Variables -->
    <script type="text/javascript">
        var page = "login-register";
    </script>
</head>
<body class="header-fixed">
    <div class="wrapper">

        <!--=== Header v5 ===-->
        <div class="header-v5 header-static">

            <!-- Topbar v3 -->
            <div class="topbar-v3">
                <div class="search-open">
                    <div class="container">
                        <input type="text" class="form-control" placeholder="Search">
                        <div class="search-close"><i class="icon-close"></i></div>
                    </div>
                </div>

                <div class="container">
                    <div class="row">
                        <div class="col-md-6">

                            <ul class="topbar-list topbar-log_reg">
                                <li>
                                    <i class="fa fa-envelope"></i> <a href="mailto:info@htmlstream.com">something@something.com</a>
                                </li>
                                <li>
                                    <i class="fa fa-phone"></i> <a href="tel:+919999999999">99999 99999</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-sm-6">
                            <ul class="topbar-list topbar-log_reg pull-right">
                                @*<li>
                                    <a href="javascript:void(0);">About</a>
                                    <ul class="topbar-dropdown">
                                        <li><a href="#">Team</a></li>
                                        <li><a href="#">Testimonials</a></li>
                                        <li><a href="#">Help &amp; Advice</a></li>
                                        <li><a href="#">Opportunities</a></li>
                                    </ul>
                                </li>*@
                                <li class=""><a class="" href="javascript:void(0);">Contact</a></li>
                                <li class="">
                                    @{
                                        if ((new SessionStore().GetItemFromSession<Interpidians.Catalyst.Core.Entity.UserMaster>(SessionKeys.USER_DETAILS)) != null)
                                        {
                                            @:Hi @Html.ActionLink(new SessionStore().GetItemFromSession<Interpidians.Catalyst.Core.Entity.UserMaster>(SessionKeys.USER_DETAILS).UserName, MVC.User.Me()),
                                            @Html.ActionLink("Logout", MVC.User.LogOff())
                                        }
                                        else
                                        {
                                            @Html.ActionLink("Login / Register", MVC.User.LoginRegister())
                                        }
                                    }
                                </li>
                                <li class=""><i class="search fa fa-search search-button"></i></li>
                            </ul>
                        </div>
                    </div>
                </div><!--/container-->
            </div>
            <!-- End Topbar v3 -->
            <!-- Navbar -->
            <div class="navbar navbar-default mega-menu" role="navigation">
                <div class="container">

                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="index.html">
                            <img id="logo-header" src="~/Content/img/logo.png" alt="Logo">
                        </a>
                    </div>

                    <!-- Shopping Cart -->
                    <div class="shop-badge badge-icons pull-right">
                        <a href="#"><i class="fa fa-shopping-cart"></i></a>
                        <span class="badge badge-sea rounded-x">3</span>
                        <div class="badge-open">
                            <ul class="list-unstyled mCustomScrollbar" data-mcs-theme="minimal-dark">
                                <li>
                                    <button type="button" class="close">×</button>
                                    <div class="overflow-h">
                                        <span>Board Name</span>
                                        <strong>Subject Name</strong>
                                        <br>
                                        <strong class="color-green">$40.00</strong>
                                    </div>
                                </li>
                                <li>
                                    <button type="button" class="close">×</button>
                                    <div class="overflow-h">
                                        <span>Board Name</span>
                                        <strong>Combo(All Subject + All Years)</strong>
                                        <br>
                                        <strong class="color-green">$40.00</strong>
                                    </div>
                                </li>
                                <li>
                                    <button type="button" class="close">×</button>
                                    <div class="overflow-h">
                                        <span>Board Name</span>
                                        <strong>Year 2011</strong>
                                        <br>
                                        <strong class="color-green">$40.00</strong>
                                    </div>
                                </li>

                            </ul>
                            <div class="subtotal">
                                <div class="overflow-h margin-bottom-10">
                                    <span>Subtotal</span>
                                    <span class="pull-right subtotal-cost">$1200.00</span>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <a href="shop-ui-add-to-cart.html" class="btn-u btn-u-sea-shop btn-block">Checkout</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Shopping Cart -->
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    @*startFromCurrentNode: false, startingNodeInChildLevel: false, showStartingNode: true*@
                    <div class="collapse navbar-collapse navbar-responsive-collapse">
                        @*@Html.MvcSiteMap().Menu("BootstrapMenuHelperModel", startFromCurrentNode: false, startingNodeInChildLevel: false, showStartingNode: true)*@
                        @Html.MvcSiteMap().Menu("BootstrapMenuHelperModel")
                    </div>
                </div>
            </div>
            <!-- End Navbar -->
        </div>
        <!--=== End Header v5 ===-->
        <!--=== Breadcrumbs v4 ===-->
        <div class="breadcrumbs">
            <div class="container">
                <h1 class="pull-left">@ViewBag.Title</h1>
                @Html.MvcSiteMap().SiteMapPath("BootstrapSiteMapPathHelperModel")
            </div>
        </div>
        <!--=== End Breadcrumbs v4 ===-->
        <!--=== Page Content ===-->
        <div class="content-md ">
            <div class="container profile">
                <div class="row">
                    <!--Left Sidebar-->
                    <div class="col-md-3 md-margin-bottom-40">
                        <!--Profile Picture-->
                        @*<img class="img-responsive profile-img margin-bottom-20" src="#" alt="">*@
                        <i class="glyphicon glyphicon-user usricon img-responsive profile-img margin-bottom-20" style="font-size: 60px;text-align:center;"></i>
                        <!--End Profile Picture-->

                        <ul class="list-group sidebar-nav-v1 margin-bottom-40" id="sidebar-nav-1">
                            <li class="list-group-item active">
                                <a href="#"><i class="fa fa-user"></i> Profile</a>
                            </li>
                            <li class="list-group-item">
                                <a href="#"><i class="fa fa-cubes"></i> My Subscription</a>
                            </li>
                        </ul>

                    </div>
                    <!--End Left Sidebar-->

                    <!-- Profile Content -->
                    <div class="col-md-9">
                        <div class="profile-body margin-bottom-20">
                            @RenderBody()
                        </div>
                    </div>
                        </div><!--/end row-->
                    </div><!--/end container-->
                </div>
        <!--=== End Page Content ===-->
        <!--=== Shop Suvbscribe ===-->
        <div class="shop-subscribe">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 md-margin-bottom-20">
                        <h2>Suspendisse et tincidunt ipsum, et dignissim urna.</h2>
                    </div>

                </div>
            </div><!--/end container-->
        </div>
        <!--=== End Shop Suvbscribe ===-->
        <!--=== Footer v4 ===-->
        <div class="footer-v4">
            <div class="copyright">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <p>
                                2016 &copy; ALL Rights Reserved.
                                <a href="#">Privacy Policy</a> | <a href="#">Terms of Service</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div><!--/copyright-->
        </div>
        <!--=== End Footer v4 ===-->

    </div>

    <!-- JS Global Compulsory -->
    <script src="~/Content/plugins/jquery/jquery.min.js"></script>
    <script src="~/Content/plugins/bootstrap/js/bootstrap.min.js"></script>
    <!-- JS Implementing Plugins -->
    <script src="~/Content/plugins/back-to-top.js"></script>
    <script src="~/Content/plugins/smoothScroll.js"></script>
    <script src="~/Content/plugins/scrollbar/js/jquery.mCustomScrollbar.concat.min.js"></script>
    <!-- MVC client side validation-->
    <script src="~/Content/plugins/jquery/jquery.validate.min.js"></script>
    <script src="~/Content/plugins/jquery/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Content/plugins/jquery/jquery.unobtrusive-ajax.min.js"></script>
    <!-- JS Customization -->
    <script src="~/Content/js/custom.js"></script>
    <!-- JS Page Level -->
    <script src="~/Content/js/common.js"></script>
    <script>
        jQuery(document).ready(function () {
            App.init();
            App.initScrollBar();
        });
    </script>
    <!--[if lt IE 9]>
        <script src="~/Content/plugins/respond.js"></script>
        <script src="~/Content/plugins/html5shiv.js"></script>
        <script src="~/Content/js/plugins/placeholder-IE-fixes.js"></script>
        <![endif]-->
    <!--[if lt IE 10]>
        <script src="~/Content/plugins/sky-forms-pro/skyforms/js/jquery.placeholder.min.js"></script>
        <![endif]-->

</body>
</html>