@using MvcSiteMapProvider.Web.Html
@model Interpidians.Catalyst.Client.Web.ViewModels.LoginRegisterViewModel

@{
    ViewBag.Title = "Login / Register";
    Layout = "~/Views/Shared/_CommonLayout.cshtml";
}

<!--=== Login ===-->
<div class="log-reg-v3 content-md" style="background-image: url('../../Content/img/bg/11.jpg');">
     <div class="container">

         <div class="row space-xlg-hor equal-height-columns">
             <!--login Block-->
             <div class="form-block login-block col-md-6 col-sm-12 rounded-left equal-height-column">
                 @Html.ValidationSummary()
                 @using (Html.BeginForm("Login", "User", FormMethod.Post, new {@id="LoginForm"})) {
                     <div class="form-block-header">
                         <h2 class="margin-bottom-15">Sign In</h2>
                     </div>

                     <div class="input-group margin-bottom-20">
                         <span class="input-group-addon rounded-left"><i class="icon-user color-white"></i></span>
                         @*<input type="text" class="form-control rounded-right" placeholder="Username" id="UserName" name="UserName">*@
                         @Html.TextBoxFor(model => model.LoginModel.UserName, new { @class = "form-control rounded-right", @placeholder="Username ( Email / Mobile )" })
                     </div>

                     <div class="input-group margin-bottom-20">
                         <span class="input-group-addon rounded-left"><i class="icon-lock color-white"></i></span>
                         @*<input type="password" class="form-control rounded-right" placeholder="Password" id="Password" name="Password">*@
                         @Html.PasswordFor(model => model.LoginModel.Password, new { @class = "form-control rounded-right", @placeholder="Password" })
                     </div>

                     <div class="row margin-bottom-70">
                         <div class="col-md-12">
                             <button type="submit" class="btn-u btn-block rounded">Sign In</button>
                         </div>
                     </div>
                 }

                 <div class="social-login">
                     <div class="or rounded-x">Or</div>
                     <ul class="list-unstyled">
                         <li>
                             <button class="btn rounded btn-block btn-lg btn-facebook-inversed margin-bottom-20">
                                 <i class="fa fa-facebook"></i> Sign in with Facebook
                             </button>
                         </li>
                         <li>
                             <button class="btn rounded btn-block btn-lg btn-gmail-inversed">
                                 <i class="fa fa-envelope"></i> Sign in with Gmail
                             </button>
                         </li>
                     </ul>
                 </div>
             </div>
             <!--End login Block-->

             <!--Register Block-->
             <div class="sky-form sign-up form-block reg-block col-md-6 col-sm-12 rounded-right equal-height-column">
                 @using (Html.BeginForm("Register", "User", FormMethod.Post, new {@id="RegisterForm"})) {
                     <div class="form-block-header">
                         <h2 class="margin-bottom-10">Sign Up</h2>
                     </div>

                     <div class="input-group margin-bottom-20">
                         <span class="input-group-addon rounded-left"><i class="icon-user"></i></span>
                         @*<input type="text" class="form-control rounded-right" placeholder="Your Name" id="UserName" name="UserName">*@
                         @Html.TextBoxFor(model => model.RegisterModel.UserName, new { @class = "form-control rounded-right", @placeholder="Your Name" })
                     </div>
                    <label>@Html.ValidationMessageFor(model=>model.RegisterModel.UserName)</label>

                     <div class="input-group margin-bottom-20">
                         <span class="input-group-addon rounded-left"><i class="icon-envelope"></i></span>
                         @*<input type="email" class="form-control rounded-right" placeholder="Your email" id="EmailID" name="EmailID">*@
                         @Html.TextBoxFor(model => model.RegisterModel.EmailID, new { @class = "form-control rounded-right", @placeholder="Your email" })                       
                     </div>
                     <label>@Html.ValidationMessageFor(model=>model.RegisterModel.EmailID)</label>

                     <div class="input-group margin-bottom-20">
                         <span class="input-group-addon rounded-left"><i class="glyphicon glyphicon-phone"></i></span>
                         @*<input type="text" class="form-control rounded-right" placeholder="Mobile Number" name="MobileNumber" id="MobileNumber">*@
                         @Html.TextBoxFor(model => model.RegisterModel.MobileNumber, new { @class = "form-control rounded-right", @placeholder="Mobile Number" })
                     </div>
                     <label>@Html.ValidationMessageFor(model=>model.RegisterModel.MobileNumber)</label>


                     <div class="input-group margin-bottom-20">
                         <span class="input-group-addon rounded-left"><i class="icon-lock"></i></span>
                         @*<input type="password" class="form-control rounded-right" placeholder="Password" id="Password" name="Password">*@
                         @Html.PasswordFor(model => model.RegisterModel.Password, new { @class = "form-control rounded-right", @placeholder="Password" })
                     </div>
                    <label>@Html.ValidationMessageFor(model=>model.RegisterModel.Password)</label>

                     <label>Exam Appearance Year</label>
                     <div class="input-group margin-bottom-20">
                         <div class="inline-group">
                             <label class="radio">@Html.RadioButtonFor(model => model.RegisterModel.ExamYear, "2018",new {@checked="checked"})<i class="rounded-x"></i>2018</label>
                             <label class="radio">@Html.RadioButtonFor(model => model.RegisterModel.ExamYear, "2019")<i class="rounded-x"></i>2019</label>
                             <label class="radio">@Html.RadioButtonFor(model => model.RegisterModel.ExamYear, "2020")<i class="rounded-x"></i>2020</label>
                                 @*<label class="radio"><input type="radio" name="ExamYear" value="2016" checked=""><i class="rounded-x"></i>2018</label>
                                 <label class="radio"><input type="radio" name="ExamYear" value="2017"><i class="rounded-x"></i>2019</label>
                                 <label class="radio"><input type="radio" name="ExamYear" value="2018"><i class="rounded-x"></i>2020</label>*@
                        </div>
                     </div>

                     <label>Exam Appearance Month</label>
                     <div class="input-group margin-bottom-20">
                         <div class="inline-group">
                             @*<label class="radio"><input type="radio" name="ExamMonth" value="03"><i class="rounded-x"></i>March</label>
                             <label class="radio"><input type="radio" name="ExamMonth" value="05"><i class="rounded-x"></i>May</label>
                             <label class="radio"><input type="radio" name="ExamMonth" value="10"><i class="rounded-x"></i>Oct</label>*@
                             <label class="radio">@Html.RadioButtonFor(model => model.RegisterModel.ExamMonth, "03",new {@checked="checked"})<i class="rounded-x"></i>March</label>
                             <label class="radio">@Html.RadioButtonFor(model => model.RegisterModel.ExamMonth, "05")<i class="rounded-x"></i>May</label>
                             <label class="radio">@Html.RadioButtonFor(model => model.RegisterModel.ExamMonth, "10")<i class="rounded-x"></i>Oct</label>
                         </div>
                     </div>

                     @*<div class="margin-bottom-15">
                         <label class="checkbox termslink"><input type="checkbox" name="checkbox" checked=""><i></i> I agree to terms &amp; conditions</label>
                     </div>*@

                     <div class="row">
                         <div class="col-md-12">
                             <button type="submit" class="btn-u btn-block rounded">Register</button>
                         </div>
                     </div>
                 }
             </div>
             <!--End Register Block-->

         </div>
     </div><!--/end container-->
 </div>
<!--=== End Login ===-->