@model Interpidians.Catalyst.Client.Web.ViewModels.ManageProfileViewModel
@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/_ProfileLayout.cshtml";
}

<div class="tab-v1">
    <ul class="nav nav-justified nav-tabs">
        <li class="active"><a data-toggle="tab" href="#profile" aria-expanded="true">Edit Profile</a></li>
        <li class=""><a data-toggle="tab" href="#passwordTab" aria-expanded="false">Change Password</a></li>
    </ul>
    <div class="tab-content">
        <div id="profile" class="profile-edit tab-pane fade active in">
            <h2 class="heading-md">Manage your Name, ID and Email Addresses.</h2>
            @*<p>Below are the name and email addresses on file for your account.</p>*@
            <br>
            @using (Ajax.BeginForm("ManageProfile", "User", FormMethod.Post,
                                new AjaxOptions
                                {
                                    OnSuccess = "OnManageProfileSuccess",
                                    OnFailure = "OnManageProfileFailure",
                                    OnBegin = "ajaxindicatorstart",
                                    OnComplete = "ajaxindicatorstop",
                                    UpdateTargetId = "ManageProfileMsg"
                                }, new { @id = "ManageProfileForm", @class = "sky-form", @autocomplete = "off" }))
            {
                <dl class="dl-horizontal">
                    <dt><strong>Your ID </strong></dt>
                    <dd>
                        @Html.DisplayFor(x => x.ProfileVM.UserID)
                    </dd>
                    <hr>
                    <dt><strong>Primary Email Address </strong></dt>
                    <dd>
                        @Html.DisplayFor(x => x.ProfileVM.EmailID)
                    </dd>
                    <hr>
                    <dt><strong>First name </strong></dt>
                    <dd>
                        @Html.TextBoxFor(x => x.ProfileVM.FirstName)
                    </dd>
                    <hr>
                    <dt><strong>Last name </strong></dt>
                    <dd>
                        @Html.TextBoxFor(x => x.ProfileVM.LastName)
                    </dd>
                    <hr>
                    <dt><strong>Mobile Number </strong></dt>
                    <dd>
                        @Html.TextBoxFor(x => x.ProfileVM.Mobile)
                    </dd>
                    <hr>
                    <dt><strong>Landline Number </strong></dt>
                    <dd>
                        @Html.TextBoxFor(x => x.ProfileVM.Landline)
                    </dd>
                    <hr>
                    <dt><strong>Address </strong></dt>
                    <dd>
                        @Html.TextAreaFor(x => x.ProfileVM.Addresss)
                    </dd>
                    <hr>
                    <dd>
                        @Html.HiddenFor(x => x.ProfileVM.UserID)
                        <label id="ManageProfileMsg" class="success"></label>
                    </dd>
                </dl>
                <button type="reset" class="btn-u btn-u-default">Cancel</button>
                <button type="submit" class="btn-u">Save Changes</button>
            }

        </div>

        <div id="passwordTab" class="profile-edit tab-pane fade">
            <h2 class="heading-md">Manage your security settings</h2>
            <br>
            @using (Ajax.BeginForm("ChangePassword", "User", FormMethod.Post,
                                new AjaxOptions
                                {
                                    OnSuccess = "OnChangePasswordSuccess",
                                    OnFailure = "OnChangePasswordFailure",
                                    OnBegin= "ajaxindicatorstart",
                                    OnComplete= "ajaxindicatorstop",
                                    UpdateTargetId= "changePasswordMsg"
                                }, new { @id = "ChangePasswordForm", @class = "sky-form", @autocomplete="off" }))
            {
                <dl class="dl-horizontal">
                    <dt>Enter old password</dt>
                    <dd>
                        <section>
                            <label class="input">
                                <i class="icon-append fa fa-lock"></i>
                                @*<input type="password" id="OldPassword" name="password" placeholder="Old Password">*@
                                @Html.PasswordFor(model => model.ChangePasswordVM.OldPassword, new { @placeholder = "Old Password" })
                                <b class="tooltip tooltip-bottom-right">What was your last password</b>
                            </label>
                        </section>
                    </dd>
                    <dt>Enter new password</dt>
                    <dd>
                        <section>
                            <label class="input">
                                <i class="icon-append fa fa-lock"></i>
                                @*<input type="password" id="NewPassword" name="password" placeholder="New Password">*@
                                @Html.PasswordFor(model => model.ChangePasswordVM.NewPassword, new { @placeholder = "New Password" })
                                <b class="tooltip tooltip-bottom-right">Don't forget your password</b>
                            </label>
                        </section>
                    </dd>
                    <dt>Confirm new password</dt>
                    <dd>
                        <section>
                            <label class="input">
                                <i class="icon-append fa fa-lock"></i>
                                @*<input type="password" name="ConfirmPassword" placeholder="Confirm Password">*@
                                @Html.PasswordFor(model => model.ChangePasswordVM.ConfirmPassword, new { @placeholder = "Confirm Password" })
                                <b class="tooltip tooltip-bottom-right">Don't forget your password</b>
                            </label>
                        </section>
                    </dd>
                    <dd>
                        <section>
                            <label>@Html.ValidationMessageFor(model => model.ChangePasswordVM.OldPassword)</label>
                            <label>@Html.ValidationMessageFor(model => model.ChangePasswordVM.NewPassword)</label>
                            <label>@Html.ValidationMessageFor(model => model.ChangePasswordVM.ConfirmPassword)</label>
                            <label id="changePasswordMsg" class="success"></label>
                        </section>
                    </dd>
                </dl>
                <button type="reset" class="btn-u btn-u-default">Cancel</button>
                <button class="btn-u" type="submit" id="btnChangePassword">Save Changes</button>
            }
        </div>
    </div>
</div>
<script type="text/javascript">
    function OnChangePasswordSuccess(response) {
       
    }

    function OnChangePasswordFailure(response) {
        $("#changePasswordMsg")[0].innerHTML = 'Something went wrong ! Please try again !';
    }

    function OnManageProfileSuccess(response) {
        
    }

    function OnManageProfileFailure(response) {
        $("#ManageProfileMsg")[0].innerHTML = 'Something went wrong ! Please try again !';
    }

    function ajaxindicatorstart() {

        if (jQuery('body').find('#resultLoading').attr('id') != 'resultLoading') {

            jQuery('body').append('<div id="resultLoading" style="display:none"><div><img src="../../Content/img/ajax-loader.gif"><div>' + 'Please wait..' + '</div></div><div class="bg"></div></div>');

        }


        jQuery('#resultLoading .bg').height('100%');

        jQuery('#resultLoading').fadeIn(300);

        jQuery('body').css('cursor', 'wait');

    }

    function ajaxindicatorstop() {

        jQuery('#resultLoading .bg').height('100%');

        jQuery('#resultLoading').fadeOut(300);

        jQuery('body').css('cursor', 'default');

    }
</script>
