@model Interpidians.Catalyst.Client.Web.ViewModels.TopicMcqViewModel

@{
    ViewBag.Title = "Topic";
    Layout = "~/Views/Shared/_CommonLayout.cshtml";
}
<div class="col-sm-9">

    <div id="accordion" class="panel-group acc-v1">
        @foreach (var mcq in Model.McqList)
        {
            <div class="panel panel-default">
                <div class="panel-heading">
                    @{
                        if (!string.IsNullOrEmpty(mcq.QuestionText1))
                        {
                            <h4 class="panel-title">
                                <a href="#collapse-@mcq.TopicWiseSrNo" data-parent="#accordion" data-toggle="collapse" class="accordion-toggle">
                                    @(mcq.TopicWiseSrNo + "." + mcq.QuestionText1)
                                </a>
                            </h4>
                        }
                    }
                </div>

                <div class="sky-form panel-collapse collapse @((mcq.TopicWiseSrNo == 1) ? "in" : "")" id="collapse-@mcq.TopicWiseSrNo">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-12 col-md-8">
                                <!-- Question Image/Text (if any )-->
                                <div class="row">
                                    @{
                                        if (!string.IsNullOrEmpty(mcq.QuestionImageLink))
                                        {
                                            <div class="col-md-8"><img class="img-responsive" src="http://app.educastle.net/Upload/QuestionImage/@mcq.QuestionImageLink" alt=""></div>
                                        }

                                        if (!string.IsNullOrEmpty(mcq.QuestionText2))
                                        {
                                            <div class="col-sm-12">
                                                <p>@mcq.QuestionText2</p>
                                            </div>
                                        }

                                        if (!string.IsNullOrEmpty(mcq.QuestionImage2))
                                        {
                                            <div class="col-md-8"><img class="img-responsive" src="http://app.educastle.net/Upload/QuestionImage/@mcq.QuestionImage2" alt=""></div>
                                        }

                                        if (!string.IsNullOrEmpty(mcq.CommonAnswerImage))
                                        {
                                            <div class="col-md-8"><img class="img-responsive" src="http://app.educastle.net/Upload/CommonAnswer/@mcq.CommonAnswerImage" alt=""></div>
                                        }
                                    }

                                </div>
                            </div>

                            @{
                                if (mcq.McqAnswers.Where(x => x.AnswerType == "Image").Any<Interpidians.Catalyst.Core.Entity.McqAnswer>())
                                {
                                    @Html.Raw("<div class='col-xs-12 col-md-12'>") @*For Image Options*@
                                }
                                else
                                {
                                    if (!string.IsNullOrEmpty(mcq.QuestionImageLink))
                                    {
                                        @Html.Raw("<div class='col-xs-12 col-md-4'>")  @*For Text Options with Question Image*@
                                    }
                                    else
                                    {
                                        @Html.Raw("<div class='col-xs-12 col-md-8'>")  @*For Text Options without Question Image*@
                                    }

                                }
                            }

                                <!-- Options -->
                                <h4>Options</h4>
                                <div class="options">
                                    @for (int i = 0; i < mcq.McqAnswers.Count; i++)
                                    {
                                        switch (mcq.McqAnswers[i].AnswerType)
                                        {
                                            case "TEXT":
                                                <label class="radio"><input type="radio" name="currentMcqChoice" data-answer-id="@Interpidians.Catalyst.Core.Utility.Crypto.Encrypt(mcq.McqAnswers[i].McqAnswerID.ToString())" @{ if (mcq.McqAnswers[i].IsSelected) { <text> checked</text> }}><i class="rounded-x"></i>@mcq.McqAnswers[i].Answer</label>
                                                break;

                                            case "NONE":
                                                <label class="radio"><input type="radio" name="currentMcqChoice" data-answer-id="@Interpidians.Catalyst.Core.Utility.Crypto.Encrypt(mcq.McqAnswers[i].McqAnswerID.ToString())" @{ if (mcq.McqAnswers[i].IsSelected) { <text> checked</text> }}><i class="rounded-x"></i>@("ABCDEFGHIJKLM"[i].ToString())</label>
                                                break;

                                            case "IMAGE":
                                                <label class="radio col-sm-6 col-md-3"><input type="radio" name="currentMcqChoice" data-answer-id="@Interpidians.Catalyst.Core.Utility.Crypto.Encrypt(mcq.McqAnswers[i].McqAnswerID.ToString())" @{ if (mcq.McqAnswers[i].IsSelected) { <text> checked</text> }}><i class="rounded-x"></i><img class="img-responsive" src="http://app.educastle.net/Upload/AnswerImage/@mcq.McqAnswers[i].AnswerImage" alt="" /></label>
                                                break;

                                            default:
                                                break;
                                         }
                                    }
                                </div>
                                
                            @Html.Raw("</div>")

                            <div class="row">
                                <div class="col-sm-6">
                                    <button class="btn-block btn-u btn-u-light-grey grow" type="button" data-source="#q1-help" data-toggle="modal" data-target=".modal-mcqhelp"><i class="glyphicon glyphicon-question-sign"></i> Help</button>
                                </div>
                                <div class="col-sm-6">
                                    <a rel="grow" class="btn-block btn-u grow" href="#collapse-@(mcq.TopicWiseSrNo + 1)" data-parent="#accordion" data-toggle="collapse">Next&nbsp;&nbsp;<i class="glyphicon glyphicon-chevron-right"></i></a>
                                </div>
                            </div>
                            </div>

                        <!-- Help Popup -->
                        <div id="q1-help" class="hide">
                        @{
                            <!-- Solution -->
                            if (!string.IsNullOrEmpty(@mcq.HintText))
                            {
                                <h4>Solution</h4>
                                <p>@mcq.HintText</p>

                                if (!string.IsNullOrEmpty(@mcq.HintImageLink))
                                {
                                    <div class="row">
                                        <div class="col-md-8"><img class="img-responsive" src="http://app.educastle.net/Upload/SolutionImage/@mcq.HintImageLink" alt=""></div>
                                    </div>
                                }
                            }
                            <!-- /end Solution -->
                         }
                         @{
                            <!-- Solution Documents -->
                            if (!string.IsNullOrEmpty(@mcq.SupportedDocumentLink))
                            {
                                <h3>Solution Documents</h3>
                                <ul>
                                    <li><a href="http://app.educastle.net/Upload/SolutionDocument/@mcq.SupportedDocumentLink" class="text-success" target="_blank">@mcq.SupportedDocumentLink</a></li>

                                     if (!string.IsNullOrEmpty(@mcq.SupportedDocumentLink2))
                                     {
                                        <li><a href="http://app.educastle.net/Upload/SolutionDocument/@mcq.SupportedDocumentLink2" class="text-success" target="_blank">@mcq.SupportedDocumentLink2</a></li>
                                     }
                                     if (!string.IsNullOrEmpty(@mcq.SupportedDocumentLink3))
                                     {
                                        <li><a href="http://app.educastle.net/Upload/SolutionDocument/@mcq.SupportedDocumentLink3" class="text-success" target="_blank">@mcq.SupportedDocumentLink3</a></li>
                                     }
                                </ul>
                            }
                            <!-- /end Solution Documents -->
                          }

                          @{
                                <!-- Solution Video -->
                                if (!string.IsNullOrEmpty(@mcq.HintVideoUrl) || !string.IsNullOrEmpty(@mcq.VideoLink))
                                {
                                    <h3>Solution Video</h3>
                                }

                                if (!string.IsNullOrEmpty(@mcq.HintVideoUrl) && @mcq.HintVideoUrl.ToLower().Contains("http"))
                                {
                                    <video class="full-width" controls>
                                        <source src="@mcq.HintVideoUrl" type="video/mp4">
                                         Your browser does not support the video tag.
                                    </video>
                                }

                                if (!string.IsNullOrEmpty(@mcq.VideoLink))
                                {
                                    <ul>
                                        <li><a href="http://app.educastle.net/Upload/SolutionVideo/@mcq.VideoLink" class="text-success" target="_blank">@mcq.VideoLink</a></li>
                                    </ul>
                                }
                                <!-- /end Solution Video -->
                           }


                            </div>
                        <!-- End Help Popup -->

                        </div>
                </div>
            </div>
        }
    </div>

    <!-- Modal : MCQ Help -->
    <div id="modal-mcqhelp" class="modal fade modal-mcqhelp" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                    <h4 id="myLargeModalLabel2" class="modal-title">Help</h4>
                </div>
                <div class="modal-body">

                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-2 pull-right">
            <button class="btn-u btn-block btn-u-blue" type="button">View Result</button>
        </div>
    </div>

</div>